
.mainpage{
  background-color: #009688;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.name {
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
}

a {
  text-decoration: none;
}
.header {
  width: 100%;
  border-radius: 20px;
}
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hd1 {
  width: 20%;
  text-align: center;
}
.hd1 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;

}
.hd2 {
  width: 20%;
  text-align: center;
}
.hd2 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd3 {
  width: 20%;
  text-align: center;
}
.hd3 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd4 {
  width: 20%;
  text-align: center;
}
.hd4 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd5 {
  width: 20%;
  text-align: center;
}
.hd5 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd6 {
  width: 20%;
  text-align: center;
}
.hd6 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd7 {
  width: 20%;
  text-align: center;
}
.hd7 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd8 {
  width: 20%;
  text-align: center;
}
.hd8 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.hd9 {
  width: 20%;
  text-align: center;
}
.hd9 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  line-height: 40px;
}
.hd10 {
  width: 20%;
  text-align: center;
}
.hd10 img {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
h1 {
  color: rgb(214, 214, 214);
}
a {
  color: wheat;
}
a:hover {
  color: yellow;
  transition: ease-in-out 0.3s all;
}
body {
  background-color: #009688;
}
h3 {
  color: rgb(203, 243, 24);
}
.M-list-hd {
  color: rgb(255, 255, 255);
}
.M-list-hd > ul {
  color: rgb(8, 65, 18);
}
.button {
  background-color: rgb(156, 156, 156);
  border-color: rgb(196, 196, 196);
  color: rgb(54, 54, 54);
}
/* .animate__heartBeat {
  animation-iteration-count: 1000;
  transition: 0.6s ease-in-out;
  animation-duration: 5s;
} */
.contact{

  border-radius: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: larger;
  font-weight: bold;
  font-size: 22px;
}

.maincardn {
  position: relative;
  height: 100px;
  width: 100%;
  text-align: center;
}
.thecardn {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  animation-name: flip;
  animation-duration:12s;
  animation-timing-function: all ease-out;
  animation-iteration-count: infinite;
}
.maincard {
  position: relative;
  height: 50px;
  width: 150px;
  text-align: center;
  left: 50px;
}
.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.9s ease;

}
.thecard:hover {
  transform: rotateY(180deg);
}
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  backface-visibility: hidden;
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  /* background-color: red; */
  backface-visibility: hidden;
}
@font-face {
  font-family: myfont;
  src: url(fonts/Exo-VariableFont_wght.ttf);
}
.rname{
  font-family: myfont;
  transform:scaleY(600px);
  font-size: 40px;
  color: rgb(203, 243, 24);
}
@keyframes flip {
from {transform: rotateY(0deg);}
to {transform: rotateY(360deg);}}